@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import 'https://fonts.googleapis.com/css?family=Playfair-Display:300,400,500';
@import 'https://fonts.googleapis.com/css?family=Merriweather|Open+Sans';

/* Variables */
:root {
  --global-color-primary: #7510F7;
  /* #00363d; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: roboto, helvetica, sans-serif;
  text-decoration: none;
}

/* ------------------------- *\
  # NAVIGATION-SECTION
\* ------------------------- */

nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.navbar {
  margin: 2em 1.5em;
  width: 80em;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr;
}

.logo {
  grid-column: 1/2;
  background-image: url(/logo.png);
  background-size: cover;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
  justify-self: left;
  align-items: center;
}

#cont-but {
  grid-column: 3/4;
  justify-self: right;
  align-self: center;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  align-self: center;
  background-color: white;
  color: #7510F7;
  height: 3em;
  width: 7.5em;
  border: 2px solid #7510F7;
  border-radius: 50px;
  transition: 200ms ease-in-out;
}

.contact-button:hover {
  transition: 200ms ease-in-out;
  background-color: #7510F7;
  color: white;
}

/* -------------------- *\
  # HEADER-SECTION
\* -------------------- */

.header {
  width: 100%;
  height: 44em;
  display: flex;
  margin-top: 10em;
  justify-content: center;
}

.introduction {
  width: 60em;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brief {
  font-family: 'Audiowide', cursive;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hover-letter {
  font-family: 'Audiowide', cursive;
  font-weight: 550;
}

.hover-letter:hover {
  transform: rotate(10deg);
  transition: 100ms ease-in-out;
  color: #7510F7;
  cursor: pointer;
}

.brief h1 {
  font-family: 'Audiowide', cursive;
  text-align: center;
  font-size: 48px;
  font-weight:600;
}

.brief p {
  margin-top: 1em;
  font-size: 22px;
  font-weight: 100;
  color: #555;
  font-family: 'Audiowide', cursive;
  text-align: center;
}

.img-container {
  margin-top: 5em;
  width: 13em;
  height: 13em;
  background-image: url(/Satil_profile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 300px;
  border-style: none;
}


.p-container {
  width: fit-content;
  height: auto;
  display: flex;
  text-align: center;
}


.h-container {
  width: fit-content;
  display: flex;
  text-align: center;
  opacity: 0;
  animation:
    appear 1.5s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}

@media (max-width: 948px) {
  .brief h1 {
    font-size: 28px;
  }
  .brief p {
    font-size: 16px;
  }
}

.brief-mobile {
  font-family: 'Audiowide', cursive;
  color: #333;
  display: block;
  align-items: center;
  padding: 0 1.5em;
}

.brief-mobile h1 {
  font-family: 'Audiowide', cursive;
  text-align: center;
  font-size: 0;
  font-weight: 550;
  line-height: 1.2;
}

.brief-mobile p {
  margin-top: 1.5em;
  font-size: 0;
  color: #555;
  font-weight: 100;
  font-family: 'Audiowide', cursive;
  text-align: center;
}

@media (max-width: 560px) {
  .large-screen {
    display: block;
    height: 0px;
    opacity: 0;
  }
  .small-screen {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .brief-mobile h1 {
    font-size: 28px;
  }
  .brief-mobile p {
    font-size: 18px;
  }
  .brief h1 {
    font-size: 0px;
  }
  .brief p {
    font-size: 0px;
  }

  .icon-container img {
    margin-top: 4.5em;
    width: 19em;
    height: auto;
    bottom: 0;
  }
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #7510F7; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #7510F7; }
}

.icon-container {
  position: absolute;
  top: 41.8em;
}

.icon-container img {
  max-width: 30em;
  height: auto;
  bottom: 0;
}


/* ----------------- *\
  # MAIN-SECTION
\* ----------------- */

.main {
/*  */
}

.about-me {
  background-color: var(--global-color-primary);
  height: auto;
  color: white;
  display: flex;
  justify-content: center;
}

.about-me div {
  margin: 1.5em;
  width: 50em;
}

.about-me h2 {
  text-align: center;
  font-size: 26px;
  line-height: 1.2;
  margin: 4em 0 1em;
  font-weight: 600;
}

.about-me p {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 3.5em;
}

.about-me div strong {
  font-weight: 400;
}

.stuff-i-do {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;  
}

/* ------------------- *\
  # SKILLS-SECTION
\* ------------------- */

.skills {
  margin: 0 1.5em;
  background-color: white;
  display: flex;
  top: -10em;
  position: relative;
  height: fit-content;
  width: 80em;
  border: 1px solid #EEF;
  border-radius: 15px;
  flex-direction: row;
  box-shadow: 0 3px 5px #0001;
}

.skills div:nth-child(2) {
  border-left: 1px solid #EEF;
  border-right: 1px solid #EEF;
}

.skill-column {
  width: calc(100%/3);
  text-align: center;
  padding: 3em 2.5em;
  color: #555;
}

.skill-column p {
  font-weight: 200;
  line-height: 1.8;
}

.skill-column h3 {
  font-size: x-large;
  font-weight: 500;
  padding: 1em;
  color: #333;
}

.skill-column h4 {
  padding: 2em 0 1em;
  font-size: 1.2em;
  font-weight: 100;
  color: #7510F7;
}

ul li {
  list-style-type: none;
  line-height: 2;
  font-weight: 200;
}

.adjust-1 {
  height: 10em;
  width: 100%;
  background-color: #7510F7;
}

.icon-responsive {
  filter: invert(14%) sepia(85%) saturate(7471%) 
  hue-rotate(269deg) brightness(93%) contrast(109%);
}

.icon-data {
  filter: invert(14%) sepia(85%) saturate(7471%) 
  hue-rotate(269deg) brightness(93%) contrast(109%);
}

@media (max-width: 768px) {
  .skills {
    flex-direction: column;
  }

  .skill-column {
    width: 100%;
  }

  .skills div:nth-child(2) {
    border-top: 1px solid #EEF;
    border-bottom: 1px solid #EEF;
    border-left: 0;
    border-right: 0;
  } 
}

/* ------------------ *\
  # FOOTER
\* ------------------ */

.footer {
  width: 100%;
  height: 40em;
  background-color: #7510F7;
}

.footer-container {
  max-width: 100%;
  height: auto;
  display: flex;
}

.block-container {
  max-width: 80em;
  height: auto;
  position: relative;
  top: -4em;
  border-radius: 10px;
  margin: 0 auto;
}

.footer-container-item {
  padding: 2em;
  max-width: 78em;
  height: 100%;
  border-radius: 10px;
  margin: 2em;
  background-color: #140b4b;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  color: white;
  height: auto;
}

.hire-me {
  align-self: center;
  justify-self: center;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.liked-my-portfolio {
  padding: 1em;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-weight: 100;
  font-size: 16px;
}

.contact-button-2 {
  align-self: center;
  justify-self: center;
  border: 2px solid #7510F7;
  border-radius: 50px;
  padding: 0.8em 2.2em;
  font-size: 16px;
  font-weight: 100;
}

.contact-button-2:hover {
  background-color: #7510F7;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

@media (max-width: 768px) {
    .footer-container-item {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }

    .footer {
      height: 58em;
    }
}

.networking {
  position: relative;
  bottom: 0;
  max-width: 30em;
  height: fit-content;
  margin: 0 auto;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #DDD;
}

.social-media p {
  padding: 2em;
  font-size: 22px;
  font-weight: 100;
}

.social {
  width: fit-content;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.github {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 60px;
  height: 60px;
  background-image: url(/icons8-github.svg);
  background-size: cover;
  margin: 0.5em;
}

.linkedin {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 60px;
  height: 60px;
  background-image: url(/icons8-linkedin.svg);
  background-size: cover;
  margin: 0.5em;
}

.mail {
  grid-row: 1/2;
  grid-column: 3/4;
  width: 60px;
  height: 60px;
  background-image: url(/icons8-mail.svg);
  background-size: cover;
  margin: 0.5em;
}

.whatsapp {
  grid-row: 1/2;
  grid-column: 4/5;
  width: 60px;
  height: 60px;
  background-image: url(/icons8-whatsapp.svg);
  background-size: cover;
  margin: 0.5em;
}

#copyright {
  font-size: 16px;
  color: #DDD;
  margin: 1em;
}

#powered {
  padding: 0;
  font-size: 12px;
}

#powered a {
  text-decoration: none;
  color: #DDD;
}

#powered a:visited {
  text-decoration: none;
  color: #DDD;
}

#powered a:active {
  text-decoration: none;
  color: #DDD;
}

#powered strong {
  font-weight: 450;
}