@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import 'https://fonts.googleapis.com/css?family=Playfair-Display:300,400,500';
@import 'https://fonts.googleapis.com/css?family=Merriweather|Open+Sans';

*, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
}

body {
  color: #555;
  font-family: "Open sans", "Roboto", "Helvetica", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
  margin: 2em 0 1em 0;
  color: #333;
  font-family: "Merriweather", "Playfair Display", "Georgia", "Times New Roman", Times, serif;
}

p {
  margin: 1em 0 1em 0;
  text-align: justify;
  hyphens: auto;
}

/* Header CSS */
header {
  width: 100%;
  height: 80px;
  background-color: #101010;
  display: flex;
  color: #eee;
}

.inner-header {
  width: 70%;
  display: block;
  margin: 0 auto;
  height: 100%;
}

.logo-container {
  height: 100%;
  display: flex;
  float: left;
}

.logo-container h1 {
  margin: 0;
  color: #eee !important;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 32px;
  font-weight: 200;
}

.logo-container h1 b {
  font-weight: 800;
}
/* End header */

/* Navbar CSS */
nav {
  height: 100%;
  float: right;
  display: flex;
}
nav ul {
  height: 100%;
  display: flex;
}

nav li {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: left;
  padding: 0 0 0 20px;
  font-weight: 200;
  color: #ccc;
}

nav li:hover {
  animation-name: nav-item;
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.nav-active {
  font-weight: 900;
  color: #fff;
}

@keyframes nav-item {
  100% {
    color: #888;
  }
}

/* End navbar */

/* Main CSS*/
main {
  width: 70%;
  margin: 0 auto;
  margin-top: 5em;
  line-height: 1.5;
}
/* End Main */

/* Card CSS */
.cards-container {
  margin-top: 3em;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
  size: 1;
  height: min-content;
  padding: 20px;
  border-radius: 5px;
  font-size: 14px;
  text-align: justify;
  color: #555;
  background-color: white;
  animation-name: card-out;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  border: 1px solid #f5f5f5;
  hyphens: auto;
  margin: 0 1em 0 1em;
}

.card-title {
  margin: 0;
  color: #333;
  font-size: 22px;
  padding: 1em 0 1em 0;
  text-align: center;
  line-height: 20px;

}

.card hr {
  border-style: solid;
  border-color: #f5f5f5;
}

.card:hover {
  animation-name: card-in;
  animation-duration: 300ms ;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes card-in {
  100% {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

@keyframes card-out {
  0% {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  100% {
  }
}

@media screen and (max-width: 768px) {
    .cards-container {
        flex-direction: column;
    }
    .card {
      margin: 1em 0 1em 0;
    }
}

/* End Card */

/* Footer content */
footer {
  margin-top: 10em;
  background-color: #101010;
  height: 240px;
  width: 100%;
  color: #eee;
}
/*End footer */

/* SFX */
.thumbnail {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
}

.cyan-to-pink-grad {
  background: linear-gradient(35deg, #777, #eee);
}
/* End SFX */